<html>
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
</head>

<body>

	<div class="container">

		<div class="jumbotron mb-0">
			<h1 class="display-4">Lista das Pesquisas</h1>
		</div>

		<div class="col-12">
			<a href="/pesquisas/export">
				<button type="submit" class="btn btn-outline-primary">Exportar</button>
			</a> <a href="/home">
				<button type="submit" class="btn btn-outline-secondary">Voltar</button>
			</a>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Código</th>
					<th scope="col">Cidade</th>
					<th scope="col">Pergunta</th>
					<th scope="col">Resposta</th>
					<th scope="col">OBS:</th>
					<th scope="col">Nome</th>
					<th scope="col">Bairro</th>
					<th scope="col">Rua</th>
					<th scope="col">Numero</th>
					<th scope="col">Genero</th>
					<th scope="col">Faixa de idade</th>
					<th scope="col">Religião</th>
					<th scope="col">Escolaridade</th>




				</tr>
			</thead>
			<tbody>
				<tr th:each="pesquisa : ${pesquisas}">

					<td th:text=${pesquisa.id}></td>
					<td th:text=${pesquisa.codigo}></td>
					<td th:text=${pesquisa.cidade}></td>
					<td th:text=${pesquisa.pergunta}></td>
					<td th:text=${pesquisa.resposta}></td>
					<td th:text=${pesquisa.getRespostaDissertiva()}></td>
					<td th:text=${pesquisa.entrevistadoNome}></td>
					<td th:text=${pesquisa.entrevistadoBairro}></td>
					<td th:text=${pesquisa.entrevistadoRua}></td>
					<td th:text=${pesquisa.entrevistadoNumero}></td>
					<td th:text=${pesquisa.entrevistadoGenero}></td>
					<td th:text=${pesquisa.entrevistadoFaixaIdade}></td>
					<td th:text=${pesquisa.entrevistadoReligiao}></td>
					<td th:text=${pesquisa.entrevistadoEscolaridade}></td>
					<td><a th:href="@{pesquisa/edit/{id}(id=${pesquisa.id})}">Editar</a></td>
					


				</tr>
			</tbody>
		</table>

	</div>
</body>